.sticky-header {
    top: 0;
    position: sticky;
    z-index: 1;
}

.main-empty-buttons {
    height: 80px;
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
    background-color: rgb(140,116,200);
    padding-right: 15px;
}

.empty-buttons Button {
    margin-right: 15px;
}

.windows-buttons {
    display: flex;
    justify-content: space-between;
    background-color: rgb(140,116,200);
}
.main-buttons {
    display: flex;
    width: 350px;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}
.filter-search {
    background-color: rgb(210,186,255);
    padding: 10px 10px 10px 40px;
}