h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fields-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields-table {
    width: 98%;
    margin-left: 1%;
    border-collapse: collapse;
}

.description {
    margin-left: 1%;
}

.fields-table input {
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fields-column input {
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fields-table .name-assign {
    display: flex;
}

.fields-table .dates-labels {
    display: flex;
}

.fields-table .tags-state {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}
.dates {
    max-width: 230px;
}