.footer {
    border-top: solid darkgray;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.footer-small {
    border-top: solid darkgray;
    margin-top: 3vh;
    margin-bottom: -1vh;
}

.footer-buttons {
    display: flex;
    justify-content: center;
}
.buttons-left {
    margin-left: 1vw;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.buttons-right {
    margin-right: 1vw;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1vw;
}