.tab-button-area {
    display: flex;
    justify-content: flex-end;
}

.tab-button {
    margin: 0;
    padding: 0;
    background-color: azure;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-input {
    background-color: inherit; 
    height: 100%;
    border: 2px solid azure;

}

.tab-input:focus {
    border: 2px solid green; 
    border-radius: 0;
    outline: none;
}

