.empty-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.empty-main button {
    height: 50px;
    width: 50px;
    margin: 10px;
}