.rectangle {
    background-color: rgb(170,146,230);
    width: 100%;
    height: 80px;
}
.nav-bar-profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 40px;
}
.nav {
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.nav-bar-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-help {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar-icons h5 {
    margin: 0;
}
.nav-bar-icons {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-bar-name {
    font-size: 2.5rem;
}
.nav-brand {
    text-transform: uppercase;
    font-weight: bold;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-toggler div {
    width: 40px;
    height: 4px;
    margin: 8px;
    background: black;
}
.nav-toggler {
    cursor: pointer;
    display: none;
}
.nav-bar-right {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .nav-toggler {
        display: block;
    }
    .nav-menu {
        position: fixed;
        display: none;
        top: 64px;
        width: 170px;
        right: 0;
        background-color: rgb(170,146,230);
        flex-direction: column;
        opacity: 0;
        border-bottom-left-radius: 25px;
        z-index: 20;
    }
    .nav-active {
        opacity: 100%;
        transition: 0.5s ease-in;
    }
    .nav-bar-groups {
        flex-direction: row;
    }
    .nav-bar-notifications {
        flex-direction: row;
    }
    .nav-bar-settings {
        flex-direction: row;
    }
    .nav-bar-help {
        flex-direction: row;
    }
    .nav-bar-icons h5 {
        margin-left: 10%;
    }
    .nav-bar-icons {
        flex-direction: column;
        margin-right: auto;
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-8px, -8px);
}