.line {
    border-top: solid darkgray;
    width: 97.6%;
}

.text {
    width: 95%;
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    font-size: 18px;
    resize: none;
    background-color: white;
    color:black;
}

.sendbutton {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-right: 1vw;
    justify-content: center;
    margin-top: 1vh;  
}

.commentwrite {
    padding-left: 2%;
}
