.commentheader textarea{
    width: 95%;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    font-size: 18px;
    resize: none;
    text-align: center;
    background-color: white;
    color:black;
    border-top: solid darkgray;
}