.commentlist {
    opacity: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
    height: 40vh;
    margin-bottom: 5%;
    padding-left: 2%;
    border: 4px solid gray;
}
