.deadline input {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;
    height: 33px;
    width: 231px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}