h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fields-table {
    width: 98%;
    margin-left: 1%;
    border-collapse: collapse;
}

.fields-table input {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(1) {
    border-bottom: solid rgb(212, 212, 212);
}

tr:nth-child(1) input{
    margin-bottom: 10px;
}