.footer {
    border-top: solid darkgray;
    margin-top: 3vh;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-right: 1vw;
    justify-content: right;
    margin-top: 1vh;
}