.header {
    border-bottom: solid darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    gap: 2vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}