.undo {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    background-color: rgb(210,186,255);
    max-height: 5%;
}

.undo-text {
    max-height: 100%;
    font-size: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.undo-left {
    width: 50%;
    display: flex;
    padding-left: 2%;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.undo-right {
    max-height: inherit;
    width: 100%;
    display: flex;
    padding-right: 5vw;
    justify-content: right;
    align-items: center;
    text-align: center;
    gap: 5vw
}