:root {
    --font-size: 110%;
}

.task-card-button {
    background-color: snow;
    margin: 0%;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

.task-card-header {
    height: 25%;
    background-color: rgb(170,146,230);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid gray;
}

.task-card-body {
    background-color: snow;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 75%;
    padding-top: 5%;
}


.grid-form {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 30px;
}



.grid-form-text {
    justify-content: flex-start;
    text-align: left;
    width: 50%;
    font-size: var(--font-size);
}

.grid-item {
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    width: 50%;
    font-size: var(--font-size);
}

.grid-item-list-text {
    justify-content: flex-start;
    text-align: left;
    width: 53%;
    font-size: var(--font-size);
}

.grid-item-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    max-height: 100%;
    height: 100%;
    width: 47%;
    /* overflow-y: hidden !important;
    overflow-x: scroll !important; */
}

.grid-state-item {
    display: flex;
    align-items: center;
    max-height: 100%;
    width: 50%;
    padding: 2%;
}

.grid-state {
    margin: 2%;
    padding: 5%;
   
    
}

.grid-tags {
    background-color: yellow;
    border-radius: 30%;
    margin: 2%;
    padding: 5%;
}